main.import
  .mdl-card.mdl-shadow--2dp
    .mdl-card__title.mdl-card--border
      h1.mdl-card__title-text Добавить адреса в базу
    form.block-form
      .mdl-textfield.mdl-js-textfield.mdl-textfield--file
        input.mdl-textfield__input#uploadFile(placeholder="Загрузите CSV-файл" type="text" readonly)
        .mdl-button.mdl-button--primary.mdl-button--icon.mdl-button--file
          i.material-icons file_upload
          input#uploadBtn(type="file"
                          required
                          accept=".csv"
                          style="opacity: 0"
                          )
        //^КОСТЫЛЬ! Свойство opacity не работает через дискретный CSS (?)
      a(routerLink='/letter/', routerLinkActive='active')
          button.mdl-button.mdl-js-button.mdl-button--accent
            | Следующий шаг

    //СТАРАЯ ФОРМА
    //form
        span.import__description Выберете файл формата CSV
        div.import__fileform
           div#fileformlabel {{filename}}
           button.import__select-button Обзор
           input#import.import__upload(type="file"
                                       required
                                       name="upload"
                                       [(ngModel)]="name.value"
                                       accept=".csv"
                                       style="opacity: 0"
                                       )

           //TODO не работает отображение пути до фаила при импорте
        button.import__submit Следующий шаг
