main.answers
  div.answers__mail
    div#answer-name.answers__name
      span Первое письмо с длинным названием
    div#answer-delete.answers__delete-mail
    div#answer-counter.answers__counter 999
      object.logo(type="image/svg+xml" data="svg/close-envelope.svg" class="logo"
      style="width: 1.6vmax; height: auto; margin-left: 0.2rem")

  //ДАЛЕЕ ИДУТ ПОВТОРЫ БЛОКА .ANSWER__MAIL ДЛЯ НАГЛЯДНОСТИ//

  div.answers__mail
    div#answer-name.answers__name
      span Второе письмо с очень-очень длинным названием
    div#answer-delete.answers__delete-mail
    div#answer-counter.answers__counter 123
      object.logo(type="image/svg+xml" data="svg/close-envelope.svg" class="logo"
      style="width: 1.6vmax; height: auto; margin-left: 0.2rem")
  div.answers__mail
    div#answer-name.answers__name
      span фывафывафафваывафывафыв
    div#answer-delete.answers__delete-mail
    div#answer-counter.answers__counter 99
      object.logo(type="image/svg+xml" data="svg/close-envelope.svg" class="logo"
      style="width: 1.6vmax; height: auto; margin-left: 0.2rem")
  div.answers__mail
    div#answer-name.answers__name
      span 12312331241234dfvsdfv
    div#answer-delete.answers__delete-mail
    div#answer-counter.answers__counter 9
      object.logo(type="image/svg+xml" data="svg/close-envelope.svg" class="logo"
      style="width: 1.6vmax; height: auto; margin-left: 0.2rem")
  div.answers__mail
    div#answer-name.answers__name
      span FUCK U
    div#answer-delete.answers__delete-mail
    div#answer-counter.answers__counter 123
      object.logo(type="image/svg+xml" data="svg/close-envelope.svg" class="logo"
      style="width: 1.6vmax; height: auto; margin-left: 0.2rem")
  div.answers__mail
    div#answer-name.answers__name
      span sasg45g4thsdh45h
    div#answer-delete.answers__delete-mail
    div#answer-counter.answers__counter 123
      object.logo(type="image/svg+xml" data="svg/close-envelope.svg" class="logo"
      style="width: 1.6vmax; height: auto; margin-left: 0.2rem")
  div.answers__mail
    div#answer-name.answers__name
      span Не стоит встревать в эту тему
    div#answer-delete.answers__delete-mail
    div#answer-counter.answers__counter 123
      object.logo(type="image/svg+xml" data="svg/close-envelope.svg" class="logo"
      style="width: 1.6vmax; height: auto; margin-left: 0.2rem")
